canvas {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

img{
  width: 400px;
}
#super{
  top: 0px;
  left: 0px;
  position: absolute;
  width: 100%;
}

#nav{
  display: block;
  width: 100%;
  top: 0px;
  position: absolute;
}

#nav li{
  display: inline-block;
}

#content h1{
  font-size: 50px;
}

#banner{
  height: 100%;
  padding-top: 215px;
  padding-bottom: 215px;
  text-align: center;
}

#nav a{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: black;
  text-decoration: none;
  border-radius: 0px 0px 25px 25px;
}

#about p{
  font-size: 30px;
}

#contact span{
  font-size: 30px;
}

#profile span{
  font-size: 30px;
}

/*global styling*/
body{
  text-align:center;
  font-family: Helvetica, sans-serif;
}
p{
  font-size:15px;
  color:gray;
  margin:0px 40px 20px 40px;
  line-height:150%;
}
h5{
  font-size:20px;
  font-style:italic;
  margin-bottom:15px;
}
h3{
  font-size: 18px;
  color: rgb(40, 40, 40);
}

.jennifer{
  padding:20px;
  font-size:25px;
  font-style:italic;
}
.jennifer a:link{
  color: rgb(171, 250, 92);
  text-decoration: line-through;
}
.jennifer a:visited{
  color: rgb(171, 250, 92);
  text-decoration: line-through;
}

.menu a:link{
  color: black;
  text-decoration:none;
}
.menu a:visited{
  color:black;
}



.contact{
  display:flex;
  justify-content: center;
  padding:75px;
}
.facebook img{
  width:45px;
  margin:0px 30px;
}
.instagram img{
  width:45px;
  margin-right:8px;
  margin:0px 30px;
}
.email img{
  width:45px;
  margin:0px 30px;
}


/*album*/
.gallery{
   line-height:0;
   column-count:4;
   column-gap:10px;
}

.gallery img {
   width: 100% !important;
   height: auto !important;
   margin-bottom:10px; /* to match column gap */
}

@media (max-width: 1000px) {
   .gallery {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
   }
}

@media (max-width: 800px) {
   .gallery {
    -moz-column-count:    4;
    -webkit-column-count: 4;
    column-count:         4;
   }
}

@media (max-width: 400px) {
   .gallery {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
   }
}

.pano img{
  margin-top:30px;
  width:100%;
}

.et1{
  line-height:0;
   column-count:3;
   column-gap:10px;
}
.et1 img{
  width:100%;
  margin-bottom:10px;
}

.et2{
  line-height:0;
  column-count:2;
  column-gap:10px;
  margin-top:-5px;
  
}
.et img{
  width:48vw;
  margin-bottom:0px 5px;
}

.seasons img{
  width:75%;
  justify-content: center;
  margin-top:5px;
}

.p1{
  display:flex;
  justify-content:center;
}

.im1 img{
  width: 48vw;
  margin:0px 5px;
}
.im3 img{
  width:38.5vw;
  margin:5px;
}
.im4 img{
  width:17vw;
  margin:5px;
}

.im2 img{
  width:24vw;
  margin:5px;
}
.im5 img{
  width: 20.5vw;
  margin:5px;
}



/*edits*/
.virus img{
  width:60vw;
  margin-bottom:40px;
}
.orient{
  display:flex;
  justify-content:center;
}
.o img{
  width: 16vw;
  margin:5px;
}
.r img{
  width: 38vw;
  margin:5px;
}
.i img{
  width:36vw;
  margin:5px;
}
.e img{
  width: 21.25vw;
  margin:5px;
}
.n img{
  width: 21.25vw;
  margin:5px;
}
.t img{
  width:47.75vw;
  margin:5px;
}
  

/*code*/
.web{
  margin-bottom:60px;
}
.web img{
  width: 65%;
}

/*profile*/
.profilepic img{
  width:100%;
  margin:40px 0px;
}